<div class="container">
    <div class="row ancho-row">
        <div class="col center-form">

            <mat-card class="card">
                <!-- Inicio del formulario ABC -->
                <form [formGroup]="formArticulos" class="form-style">
                    <div class="line-first">
                        <mat-form-field class="sku-mat" appearance="outline">
                            <mat-label>Sku: </mat-label>
                            <input type="number" matInput placeholder="Ingresa el Sku" 
                            formControlName="sku" (keyup)="verificarSku($event)">

                            @if(formArticulos.controls.sku.hasError('required')){
                                <mat-error>Ingresa un sku correcto</mat-error>
                            }

                        </mat-form-field>

                        <mat-checkbox class="check-desconocido"  formControlName="descontinuado">Descontinuado</mat-checkbox>
                    </div>
                    
                    <div class="line-second">
                        <mat-form-field class="articulo-mat" appearance="outline">
                            <mat-label>Articulo: </mat-label>
                            <input type="text" #articulo maxlength="15" matInput placeholder="Ingresa el Articulo" 
                            formControlName="articulo">
                        </mat-form-field>
                    </div>

                    <div class="line-third">
                        <mat-form-field class="articulo-mat" appearance="outline">
                            <mat-label>Marca: </mat-label>
                            <input type="text" #marca maxlength="15" matInput placeholder="Ingresa la marca" 
                            formControlName="marca">
                        </mat-form-field>
                    </div>

                    <div class="line-four">
                        <mat-form-field class="articulo-mat" appearance="outline">
                            <mat-label>Modelo: </mat-label>
                            <input type="text" #modelo maxlength="20" matInput placeholder="Ingresa el modelo" 
                            formControlName="modelo">
                        </mat-form-field>
                    </div>

                    <div class="line-five">
                        <mat-form-field class="articulo-mat">
                            <mat-label>Departamento: </mat-label>
                            <mat-select [(value)]="departamentoSeleccionado" formControlName="departamento">
                                @for(depa of departamentosSelect; track depa){
                              <mat-option [value]="depa.nombreDepartamento">{{depa.nombreDepartamento}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="line-six">
                        <mat-form-field class="articulo-mat">
                            <mat-label>Clase: </mat-label>
                            <mat-select [(value)]="claseSeleccionada" formControlName="clase">
                                @for(claseItem of claseSelect; track claseItem){
                              <mat-option [value]="claseItem.nombreClase">{{claseItem.nombreClase}}</mat-option>
                              }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="line-seven">
                        <mat-form-field class="articulo-mat">
                            <mat-label>Familia: </mat-label>
                            <mat-select [(value)]="familiaSeleccionada" formControlName="familia">
                                @for(familiaItem of familiaSelect; track familiaItem){
                              <mat-option [value]="familiaItem.nombreFamilia">{{familiaItem.nombreFamilia}}</mat-option>
                            }
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="line-eight">
                        <mat-form-field class="mat-stock" hintLabel="">
                            <mat-label>Stock: </mat-label>
                            <input type="number" matInput maxlength="9" placeholder="Ingresa el stock" formControlName="stock"/>
                        </mat-form-field>

                        <mat-form-field class="mat-cantidad" hintLabel="">
                            <mat-label>Cantidad: </mat-label>
                            <input type="number" matInput maxlength="9" placeholder="Ingresa la cantidad" formControlName="cantidad"/>
                        </mat-form-field>
                    </div>

                    <div class="line-nine">
                        <mat-form-field class="mat-stock">
                            <mat-label>Fecha Alta: </mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fechaAlta">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field class="mat-cantidad">
                            <mat-label>Fecha Baja: </mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="fechaBaja">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                </form>
                    <div class="line-ten">
                        <button class="button-only" mat-flat-button [disabled]="eliminarBotonDesahabilitado" color="warn">Eliminar</button>
                        <button class="button-only" mat-flat-button [disabled]="actualizarBotonDesahabilitado" color="accent">Actualizar</button>
                        <button class="button-only" mat-flat-button [disabled]="guardarBotonDesahabilitado" color="primary">Guardar</button>
                    </div>
            </mat-card>

        </div>
    </div>
</div>
