<div class="container">
    <div class="row">
        <div class="col center-content">

            <div class="maindiv">
                <mat-card appearance="outlined" class="centrar-card">
                    <mat-card-header>
                      <mat-card-title> Bienvenido al registro de articulos</mat-card-title>
                      <mat-card-subtitle>Formulario</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                      <img src="../../assets/Images/bolsa-de-la-compra.png" width="100px" height="100px">
                      <br>
                      <div>
                        <button mat-fab extended (click)="goFormArticulos()">
                            <mat-icon>article</mat-icon>
                            Ingresar
                          </button>
                      </div>
                    </mat-card-actions>
                  </mat-card>
            </div>

        </div>
    </div>
</div>
